*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.bigBox{
    width: 1000px;
    height: 300px;
    position: relative;
    border: 3px solid black;
    margin: 0 auto;
    overflow: hidden;
}
.smallBox{
    width: 4150px;
    position: absolute;
    left: 0;
    top: 0;
}
.smallBox img{
    float: left;
}
.bigBox ul{
    position: absolute;
    bottom: 10px;
    right: 150px;
}
.bigBox ul li{
    width: 20px;
    height: 20px;
    background-color: lawngreen;
    border-radius: 50%;
    margin-right: 15px;
    float: left;
    text-align: center;
    color:yellow;
    font-size: 12px;

}
.bigBox ul li.on{
    background-color: blue;
}
.ab{
    position: absolute;
    width: 43px;
    height: 53px;
    top: 120px;
    background-image: url("../pre.png");
    cursor: pointer;
    opacity: 0.2;
    display: none;

}
.ab:hover{
    opacity: 1;
}
.left{
    left: 15px;
    background-position: 0 0;
}
.right{
    right: 5px;
    background-position: -50px 0;
}